<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge" />  ?? *@
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>


    @*Min egen CSS*@
    <link href="~/css/site.css" rel="stylesheet" />
    @*<link href="~/content/site.css" rel="stylesheet" />*@

    <title>@ViewBag.Title</title>

</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">CandyShop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Candy
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-controller="Candy" asp-action="List">All Candy</a>
                            <a class="dropdown-item" asp-controller="Candy" asp-action="List">Another action</a>
                            <a class="dropdown-item" asp-controller="Candy" asp-action="List">Something else here</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Color Scheme
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">dark</a>
                            <a class="dropdown-item" href="#">light</a>
                            <a class="dropdown-item" href="#">candy</a>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
        <div class="row d-flex justify-content-center text-center">
            <div class="col-md-12 ">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
